<!DOCTYPE html>
<html lang="<%= page.lang || 'en' %>">
<head>
  <%- include('partials/head-common') %>

  <title>
    <%= page.title || site.title %>
  </title>
  <meta name="description" content="<%= page.description %>">

  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/main.css">
  <%- include('partials/head-fonts') %>

  <% if (page.css) { %>
    <% page.css.forEach(cssFile => { %>
      <link rel="stylesheet" href="/css/<%= cssFile %>.css">
    <% }) %>
  <% } %>
</head>
<body>
  <%- body %>
  <%- include('partials/analytics') %>
</body>
</html>
