<!DOCTYPE html>
<html lang="<%= page.lang || 'en' %>">
<head>
  <%- include('partials/head-common') %>

  <title>
    <%= page.title + ' | ' + site.title %>
  </title>
  <meta name="description" content="<%= page.description %>">

  <%- include('partials/head-fonts') %>
  <%- include('partials/head-styles') %>
</head>
<body>
  <script>0</script>

  <header>
    <nav>
      <ul>
        <li><a href="/"><%= site.title %></a></li>

        <% if (page.section) { %>
          <li><a href="/<%= page.section %>/">
            <%= page.section %></a></li>
        <% } %>
        <% if (page.year) { %>
          <li><a href="/posts/#<%= page.year %>">
            <%= page.year %></a></li>
        <% } %>

        <li><%= page.title %></li>
      </ul>
    </nav>
  </header>

  <main>
    <article>
      <%- body %>
    </article>
  </main>

  <footer>
    <%= page.date %>
  </footer>

  <%- include('partials/analytics') %>

</body>
</html>
